<h1>Welcome to Rock, Paper, Scissors</h1>
<p>Choose rock, paper, or scissors and play against the computer.</p>
<p>Make a choice:</p>

<%= link_to "Rock", rps_play_path("rock") %><br />
<%= link_to "Paper", rps_play_path("paper") %><br />
<%= link_to "Scissors", rps_play_path("scissors") %>