<h1>Thanks for using ritly!</h1>

<p>Your link was:<br />
<%= @link.url %></p>

<p>Your hash code was:<br />
<%= @link.hash_code %></p>

<p><%= link_redirect %></p>

<p><%= link_to "Home", links_path %></p>